* {
    font-family: "Work Sans"
}

.first-column {
    width: 200px;
    text-align: center;
    font-size:18px;
}

.other-columns {
    width: 250px;
    text-align: center;
    font-size:18px;
}

.buttons{
    font-size:18px; 
    color:black;
}