* {
    font-family: "Work Sans"
}

.first-column {
    width: 200px;
    text-align: center;
    font-size:18px;
}

.other-columns {
    width: 250px;
    text-align: center;
    font-size:18px;
}

.buttons{
    font-size:18px; 
    color:black;
}

h1 {
    text-align: center;
    font-size:12px;
    white-space: normal;
    word-wrap: break-word;
    padding-left: 10px;
    padding-right: 10px;
    flex-grow:10;
    margin-top:25px;
}


.LegendContainer {
    display:flex;
    justify-content:center;
}

.LOVDLegend{
    border:5px solid #4e79a7;
    border-radius: 5px;
    background: #4e79a7;
    display:inline-block;
    margin: 0 8px 0 32px;
}

.BothLegend{
    border:5px solid #af7aa1;
    border-radius: 5px;
    background: #af7aa1;
    display:inline-block;
    margin: 0 8px 0 32px;
}

.ClinVarLegend{
    border:5px solid #e15759;
    border-radius: 5px;
    background: #e15759cd;
    display:inline-block;
    margin: 0 8px 0 32px;
}
.pathogenic {
    fill: red;
}

.likely-pathogenic {
    fill: orange;
}

.vus {
    fill: purple;
}

.likely-benign {
    fill: blue;
}

.benign {
    fill: green;
}

.not-provided {
    fill: gray;
}

.conflicting {
    fill: black;
}
.line-chart{
    stroke-width: 3;
    fill: none;
    opacity: 1;
}

.hovered{
    opacity: 1;
    stroke-width: 5;

}

.not-hovered{
    opacity: .4;
}

.button-clicked circle,  
.button-clicked path, 
.button-clicked text, 
.button-clicked td, 
.button-clicked th,
.button-clicked line,
.button-clicked-misc {
    opacity: 0.25
}